ul {
	margin-top: 5px;
	margin-bottom: 5px;
}

ul,
li {
	padding: 0;
	list-style-type: none;
}

img {
	width: 100%;
	height: 100%;
}

input {
	border: 0px;
	font-size: 8px;
}

body {
	background-color: white;
}

#userphoto_info {
	width: 200px;
	height: 100px;
	position: absolute;
	margin: auto;
	top: -230px;
	left: 0;
	right: 390px;
	bottom: 0;
	display: none;
}

#weather_info {
	width: 180px;
	height: 195px;
	position: absolute;
	margin: auto;
	top: -180px;
	left: 370px;
	right: 0;
	bottom: 0;
	display: none;
}

#qq {
	width: 185px;
	height: 375px;
	position: absolute;
	margin: auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgb(242, 242, 242);
}

#title {
	height: 20px;
}

.title {
	width: 20px;
	height: 20px;
	float: right;
	line-height: 20px;
	text-align: center;
	cursor: pointer;
}

#title img {
	width: 20px;
}

#title div:hover {
	background-color: rgb(228, 226, 226);
}

#title div:nth-child(2):hover {
	background-color: rgb(255, 84, 57);
}

#title div:nth-child(4) {
	background-size: 100% 100%;
	background-image: url(../img/more.PNG);
}

#title div:nth-child(4):hover {
	background-image: url(../img/more_hover.png);
}

#title div:nth-child(5) {
	background-size: 100% 100%;
	background-image: url(../img/huiyuan.png);
}

#title div:nth-child(5):hover {
	background-image: url(../img/huiyuan_hover.png);
}

#title div:nth-child(6) {
	background-size: 100% 100%;
	background-image: url(../img/email.png);
}

#title div:nth-child(6):hover {
	background-image: url(../img/email_hover.png);
}

#title div:nth-child(7) {
	background-size: 100% 100%;
	background-image: url(../img/kongjian.PNG);
}

#title div:nth-child(7):hover {
	background-image: url(../img/kongjian_hover.png);
}

#title div:nth-child(8) {
	background-size: 100% 100%;
	background-image: url(../img/zhuangban.png);
}

#title div:nth-child(8):hover {
	background-image: url(../img/zhuangban_hover.png);
}

#title div:nth-child(9) {
	background-size: 100% 100%;
	background-image: url(../img/more.PNG);
}

#title div:nth-child(9):hover {
	background-image: url(../img/more_hover.png);
}

#info {
	height: 50px;
	position: relative;
}

#info img {
	border-radius: 70%;
}

.info {
	height: 40px;
	width: 40px;
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
}

#userphoto {
	width: 38px;
	height: 38px;
	left: 13px;
	cursor: pointer;
}

#list {
	width: 10px;
	height: 10px;
	position: absolute;
	top: 28px;
	left: 28px;
	background-size: 100% 100%;
	border-radius: 50%;
	background-color: rgb(9, 241, 117);
	/*background-image: url(../img/zaixian.png);*/
	
}

#list:hover {
	background-color: rgb(8, 217, 105);
	/*background-image: url(../img/zaixian_hover.png);*/
}

#userinfo {
	width: 70px;
	left: 0;
	right: 0;
	font-size: 12px;
	font-weight: 1000;
}

#userinfo span {
	margin-top: 5px;
}

#userinfo input {
	width: 95%;
	height: 20%;
	margin-top: 5px;
	background-color: rgb(238, 236, 235);
}

#signature input {
	border: 0.5px solid rgb(242, 242, 242);
	outline: none;
	background-color: rgb(242, 242, 242);
	font: bolder;
}

#signature :hover {
	border: 0.5px solid #CCC;
	cursor: default;
}

#weather {
	right: 5px;
	cursor: pointer;
}

#search {
	height: 20px;
	background-color: rgb(224, 224, 224);
}

#search img:nth-child(1) {
	width: 20px;
	float: left;
}

#search img:nth-child(3) {
	width: 20px;
	float: left;
	cursor: pointer;
	display: none;
}

#search input {
	width: 140px;
	height: 18px;
	float: left;
	outline: none;
	background-color: rgb(224, 224, 224);
}

#contact {
	height: 260px;
	background: white;
}

.contact {
	height: 25px;
}

#lable {
	height: 25px;
	position: relative;
	border-bottom: #CCCCCC solid 0.5px;
	background: white;
}

.lable {
	width: 25%;
	height: 100%;
	font-size: 10px;
	color: rgb(78,78,79);
	line-height: 25px;
	text-align: center;
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	cursor: pointer;
}

.lable:hover {
	color: black;
}

#people {
	left: 5%;
	border-bottom: #808080 solid 1px;
}

#dynamic {
	left: 0;
	right: 0;
}

#message {
	right: 5%;
}

#friendsList {
	/*display: none;*/
	height: 210px;
	overflow: auto;
	background-color: white;
}

#friendsList::-webkit-scrollbar {
	/*滚动条整体样式*/
	width: 5px;
	/*高宽分别对应横竖滚动条的尺寸*/
	height: 1px;
}

#friendsList::-webkit-scrollbar-thumb {
	/*滚动条里面小方块*/
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
	background: rgb(215, 215, 215);
}

#friendsList::-webkit-scrollbar-track {
	/*滚动条里面轨道*/
	border-radius: 10px;
	background: rgb(255, 255, 255);
}

#friendsList img {
	margin-left: 10px;
	height: 5%;
	width: 5%;
}

#friendsList span {
	margin-left: 1px;
	height: 20.5px;
	width: 90%;
}

#jiaqun {
	display: none;
	height: 210px;
	overflow: auto;
}

#jiaqunImg{
	margin-bottom: 5px;
	height: 500px;
	width: 100%;
	background-size: 100% 100%;
	background-image: url(../img/QQqun.png);
}

#jiaqun::-webkit-scrollbar {
	/*滚动条整体样式*/
	width: 5px;
	/*高宽分别对应横竖滚动条的尺寸*/
	height: 1px;
}

#jiaqun::-webkit-scrollbar-thumb {
	/*滚动条里面小方块*/
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
	background: rgb(215, 215, 215);
}

#jiaqun::-webkit-scrollbar-track {
	/*滚动条里面轨道*/
	border-radius: 10px;
	background: rgb(255, 255, 255);
}

#span1 {
	height: 20.5px;
	width: 87%;
	font-size: 5px;
	color: black;
	line-height: 25px;
	text-align: left;
	font-weight: bolder;
	/*position: absolute;
	margin: auto;
	top: 30px;*/
	cursor: default;
}

#span2 {
	height: 20.5px;
	width: 100%;
	font-size: 5px;
	color: black;
	line-height: 25px;
	text-align: left;
	font-weight: bolder;
	position: relative;
	cursor: default;
}

#divlist1 :hover {
	background-color: rgb(240, 240, 240);
}

#divlist2 :hover {
	background-color: rgb(240, 240, 240);
}

#ulList1 {
	display: none;
}

#ulList1 li:nth-child(1) {
	margin-bottom: 5px;
	height: 35px;
	width: 100%;
	line-height: 40px;
	background-size: 100% 100%;
	background-image: url(../img/xiaoxi3.png);
}

#ulList1 li:nth-child(1):hover {
	background-image: url(../img/xiaoxi3_hover.png);
}

#ulList1 li:nth-child(2) {
	margin-bottom: 5px;
	height: 35px;
	width: 100%;
	line-height: 40px;
	background-size: 100% 100%;
	background-image: url(../img/xiaoxi4.png);
}

#ulList1 li:nth-child(2):hover {
	background-image: url(../img/xiaoxi4_hover.png);
}

#ulList2 {
	display: none;
}

#ulList2 li:nth-child(1) {
	margin-bottom: 5px;
	height: 35px;
	width: 100%;
	line-height: 40px;
	background-size: 100% 100%;
	background-image: url(../img/xiaoxi5.png);
}

#ulList2 li:nth-child(1):hover {
	background-image: url(../img/xiaoxi5_hover.png);
}

#ulList2 li:nth-child(2) {
	margin-bottom: 5px;
	height: 35px;
	width: 100%;
	line-height: 40px;
	background-size: 100% 100%;
	background-image: url(../img/xiaoxi5.png);
}

#ulList2 li:nth-child(2):hover {
	background-image: url(../img/xiaoxi5_hover.png);
}

#ulList2 li:nth-child(3) {
	margin-bottom: 5px;
	height: 35px;
	width: 100%;
	line-height: 40px;
	background-size: 100% 100%;
	background-image: url(../img/xiaoxi5.png);
}

#ulList2 li:nth-child(3):hover {
	background-image: url(../img/xiaoxi5_hover.png);
}

#ulList2 li:nth-child(4) {
	margin-bottom: 5px;
	height: 35px;
	width: 100%;
	line-height: 40px;
	background-size: 100% 100%;
	background-image: url(../img/xiaoxi5.png);
}

#ulList2 li:nth-child(4):hover {
	background-image: url(../img/xiaoxi5_hover.png);
}

#ulList2 li:nth-child(5) {
	margin-bottom: 5px;
	height: 35px;
	width: 100%;
	line-height: 40px;
	background-size: 100% 100%;
	background-image: url(../img/xiaoxi5.png);
}

#ulList2 li:nth-child(5):hover {
	background-image: url(../img/xiaoxi5_hover.png);
}

#ulList2 li:nth-child(6) {
	margin-bottom: 5px;
	height: 35px;
	width: 100%;
	line-height: 40px;
	background-size: 100% 100%;
	background-image: url(../img/xiaoxi5.png);
}

#ulList2 li:nth-child(6):hover {
	background-image: url(../img/xiaoxi5_hover.png);
}


/*#list1 :hover{
	background-image: url(../img/list_hover.png);
}*/


/*#list2 {
	margin: 5px;
	height: 30px;
	width: 100%;
	background-size: 100% 100%;
	background-image: url(../img/friendsList.png);
}

#list2 :hover {
	background-image: url(../img/list_hover.png);
}*/


/*#friendsList ul{
	margin: 5px;
	height: 20px;
	width: 100%;
	line-height: 40px;
	background-size: 100% 100%;
	background-image: url(../img/list.png);
}*/


/*#friendsList #list1:hover {
	background-image: url(../img/list_hover.png);
}*/


/*#friendsList li{
	margin: 5px;
	height: 20px;
	width: 100%;
	line-height: 40px;
	background-size: 100% 100%;
	background-image: url(../img/friendsList.png);
}*/

#friendsList #list2:hover {
	background-image: url(../img/friendsList.png);
}

#message_info {
	height: 235px;
	overflow: auto;
	background-color: white;
	display: none;
}

#message_info::-webkit-scrollbar {
	/*滚动条整体样式*/
	width: 5px;
	/*高宽分别对应横竖滚动条的尺寸*/
	height: 1px;
}

#message_info::-webkit-scrollbar-thumb {
	/*滚动条里面小方块*/
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
	background: rgb(215, 215, 215);
}

#message_info::-webkit-scrollbar-track {
	/*滚动条里面轨道*/
	border-radius: 10px;
	background: rgb(255, 255, 255);
}

#message_info ul {
	margin: 0;
}

#message_info ul li {
	height: 35px;
	line-height: 40px;
	cursor: pointer;
	margin-top: 3px;;
	background-size: 100% 100%;
	background-image: url(../img/xiaoxi1.PNG);
}

//yaoxiugai

/*#message_info ul li:hover {
	background-image: url(../img/xiaoxi1_hover.png);
}*/

#people_info {
	overflow: auto;
}

#people_info_type {
	width: 100%;
	height: 25px;
	font-size: 10px;
	position: relative;
	background-color: white;
}

#friends {
	width: 30px;
	height: 15px;
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	font-size: 9px;
	line-height: 15px;
	cursor: default;
	margin-left: 10px;
	padding-left: 10px;
	background: rgb(251,251,251);
}

#qunliao {
	width: 30px;
	height: 15px;
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	font-size: 9px;
	line-height: 15px;
	cursor: default;
	margin-left: 55px;
	padding-left: 10px;
	/*background: rgb(251,251,251);*/
}

#addFriends {
	width: 30px;
	height: 15px;
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	font-size: 9px;
	line-height: 15px;
	cursor: default;
	right: 0;
	color: rgb(237,237,237);
	background: rgb(255,255,255);
}

#friends img{
	width: 9px;
	height: 9px;
	vertical-align: middle;
	margin-left: 1px;
	display: none;
}

#qunliao img{
	width: 9px;
	height: 9px;
	vertical-align: middle;
	margin-left: 1px;
	display: none;
}

#addFriends img{
	width: 12px;
	height: 12px;
	vertical-align: middle;
	margin-left: 5px;
	/*display: none;*/
}

/*#people_info_type div:nth-child(1) {
	background-size: 100% 100%;
	left: 15px;
	background-image: url(../img/friends.png);
}*/

/*#people_info_type div:nth-child(2) {
	background-size: 100% 100%;
	left: 60px;
	
}

#people_info_type div:nth-child(3) {
	background-size: 100% 100%;
	right: 0;
	
}*/

#dynamic_info {
	height: 235px;
	overflow: auto;
	display: none;
	position: relative;
}

#dynamic_info::-webkit-scrollbar {
	display: none;
}

.dynamic_info {
	width: 50%;
	height: 90px;
	position: absolute;
	margin: auto;
	background-size: 100% 100%;
}

.dynamic_info:nth-child(1) {
	top: 0;
	left: 0;
	border-right: #CCCCCC solid 0.5px;
	border-bottom: #CCCCCC solid 0.5px;
	background-image: url(../img/zone.png);
}

.dynamic_info:nth-child(2) {
	top: 0;
	right: 0;
	border-bottom: #CCCCCC solid 0.5px;
	background-image: url(../img/zhibo.png);
}

.dynamic_info:nth-child(3) {
	top: 90px;
	left: 0;
	border-top: #CCCCCC solid 0.5px;
	border-right: #CCCCCC solid 0.5px;
	border-bottom: #CCCCCC solid 0.5px;
	background-image: url(../img/zone.png);
}

.dynamic_info:nth-child(4) {
	top: 90px;
	right: 0;
	border-top: #CCCCCC solid 0.5px;
	border-bottom: #CCCCCC solid 0.5px;
	background-image: url(../img/zone.png);
}

.dynamic_info:nth-child(5) {
	top: 180px;
	left: 0;
	border-top: #CCCCCC solid 0.5px;
	border-right: #CCCCCC solid 0.5px;
	background-image: url(../img/zone.png);
}

.dynamic_info:nth-child(1):hover {
	background-image: url(../img/zone_hover.png);
}

.dynamic_info:nth-child(2):hover {
	background-image: url(../img/zhibo_hover.png);
}

.dynamic_info:nth-child(3):hover {
	background-image: url(../img/zone_hover.png);
}

.dynamic_info:nth-child(4):hover {
	background-image: url(../img/zone_hover.png);
}

.dynamic_info:nth-child(5):hover {
	background-image: url(../img/zone_hover.png);
}

#history {
	height: 260px;
	display: none;
}

#botton {
	height: 25px;
	position: relative;
	border-top: #CCCCCC solid 0.5px;
}

.botton {
	width: 20px;
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	cursor: pointer;
	background-size: 100% 100%;
}

#botton div:nth-child(1) {
	left: 5px;
	background-image: url(../img/shezhi.png);
}

#botton div:nth-child(2) {
	left: 25px;
	background-image: url(../img/botton_2.png);
}

#botton div:nth-child(3) {
	right: 5px;
	background-image: url(../img/botton_3.png);
}

#botton div:nth-child(1):hover {
	background-image: url(../img/shezhi_hover.png);
}

#botton div:nth-child(2):hover {
	background-image: url(../img/botton_2_hover.png);
}

#botton div:nth-child(3):hover {
	background-image: url(../img/botton_3_hover.png);
}

#user {
	width: 200px;
	height: 105px;
	position: absolute;
	margin: auto;
	top: 140px;
	left: 198px;
	cursor: pointer;
	display: none;
	background-size: 100% 100%;
	background-image: url(../img/user.png);
}

#tianqi {
	width: 165px;
	height: 155px;
	position: absolute;
	margin: auto;
	top: 125px;
	right: 235px;
	display: none;
	cursor: pointer;
	background-size: 100% 100%;
	background-image: url(../img/tianqi.png);
}

#statelist {
	width: 130px;
	height: 340px;
	position: absolute;
	margin: auto;
	top: 100px;
	left: 20px;
	right: 0;
	bottom: 0;
	font-size: 8px;
	opacity: 0.95;
	display: none;
	background-color: white;
	border: #CCCCCC solid 0.5px;
}

#statelist img {
	width: 12px;
	height: 12px;
	vertical-align: middle;
	margin-right: 10px;
}

#statelist ul li {
	height: 14px;
	line-height: 10px;
	padding-top: 5px;
	padding-left: 10px;
}

#statelist ul li:hover {
	cursor: pointer;
	background-color: rgb(238,238,238);
}

.br {
	border-bottom: #CCCCCC solid 0.5px;
}

#menu {
	width: 152px;
	height: 200px;
	position: absolute;
	left: 0;
	bottom: 0;
	font-size: 9px;
	opacity: 0.95;
	display: none;
	background-color: white;
	border: #CCCCCC solid 0.5px;
}

#menu ul:nth-child(1) {
	height: 50px;
}


/*#operation1{
	width: 152px;
	height: 80px;
	position: absolute;
	left: 0;
	top: 60px;
	background-color: white;
}
#operation2{
	width: 152px;
	
	position: absolute;
	left: 0;
	top: 150px;
}*/

#menu ul li {
	height: 17px;
	line-height: 18px;
	padding-left: 25px;
}

#menu ul li:hover {
	cursor: pointer;
	background-color: #CCCCCC;
}

.tools {
	width: 50px;
	height: 50px;
	background-size: 100% 100%;
}


/*.operation1{
	width: 152px;
	height: 17px;
	border-right: #CCCCCC solid 0.5px;
	background-size: 90% 100%;
}

.operation2{
	width: 152px;
	height: 17px;
	background-size: 100% 100%;
}*/

.tools:nth-child(1) {
	float: left;
	margin-left: 1px;
	background-image: url(../img/shoucang.png);
}

.tools:nth-child(2) {
	float: left;
	background-image: url(../img/zhushou.png);
}

.tools:nth-child(3) {
	float: right;
	margin-right: 1px;
	background-image: url(../img/xiaoxi.png);
}

.tools:nth-child(1):hover {
	background-image: url(../img/shoucang_hover.png);
}

.tools:nth-child(2):hover {
	background-image: url(../img/zhushou_hover.png);
}

.tools:nth-child(3):hover {
	background-image: url(../img/xiaoxi_hover.png);
}

/*.operation1:nth-child(1) {
	float: left;
	background-image: url(../img/qqhuiyuan.png);
}

.operation1:nth-child(1):hover {
	background-image: url(../img/qqhuiyuan_hover.png);
}
.operation1:nth-child(2) {
	float: left;
	background-image: url(../img/qqhuiyuan.png);
}

.operation1:nth-child(2):hover {
	background-image: url(../img/qqhuiyuan_hover.png);
}
.operation1:nth-child(3) {
	float: left;
	background-image: url(../img/qqhuiyuan.png);
}

.operation1:nth-child(3):hover {
	background-image: url(../img/qqhuiyuan_hover.png);
}
.operation1:nth-child(4) {
	float: left;
	background-image: url(../img/qqhuiyuan.png);
}

.operation1:nth-child(4):hover {
	background-image: url(../img/qqhuiyuan_hover.png);
}
.operation1:nth-child(5) {
	float: left;
	background-image: url(../img/qqhuiyuan.png);
}

.operation1:nth-child(5):hover {
	background-image: url(../img/qqhuiyuan_hover.png);
}

.operation2:nth-child(2) {
	float: left;
	background-image: url(../img/qiehuangzhanghao.png);
}

.operation2:nth-child(2):hover {
	background-image: url(../img/qiehuangzhanghao_hover.png);
}
.operation2:nth-child(3) {
	float: left;
	background-image: url(../img/qiehuangzhanghao.png);
}

.operation2:nth-child(3):hover {
	background-image: url(../img/qiehuangzhanghao_hover.png);
}*/

#user_info_list{
	width: 200px;
	height: 105px;
	position: absolute;
	margin: auto;
	top: 0px;
	left: 198px;
	cursor: default;
	display: none;
	background-size: 100% 100%;
	background-image: url(../img/user.png);
}

#history_list{
	width: 180px;
	height: 50px;
	position: absolute;
	margin: auto;
	top: 0px;
	left: 198px;
	cursor: default;
	display: none;
	background-size: 100% 100%;
	background-image: url(../img/xiaoxi1_extend.png);
}

#haoyou_xiajiantou{
	width: 120px;
	height: 195px;
	position: absolute;
	margin: auto;
	top: 260px;
	left: 448px;
	cursor: default;
	font-size: 9px;
	background-color: white;
	border: #CCCCCC solid 0.5px;
	opacity: 0.95;
	display: none;
	background-size: 100% 100%;
}

#haoyou_xiajiantou ul li{
	height: 14px;
	line-height: 10px;
	padding-top: 5px;
	padding-left: 5px;
}

#haoyou_xiajiantou ul li:hover {
	cursor: default;
	background-color: rgb(238,238,238);
}


.haoyou_zuo{
	width: 20px;
	height: 12px;
	vertical-align: middle;
	margin-right: 10px;
}

.haoyou_you{
	width: 20px;
	height: 12px;
	vertical-align: middle;
	margin-left: 15px;
}

#search_extend{
	width: 184px;
	height: 125px;
	position: absolute;
	margin: auto;
	top: 215px;
	left: 403px;
	cursor: default;
	font-size: 9px;
	background-color: white;
	display: none;
	background-size: 100% 100%;
	background-image: url(../img/sousuolan.png);
}

#jiahaoyou{
	width: 90px;
	height: 52px;
	position: absolute;
	margin: auto;
	top: 265px;
	left: 490px;
	cursor: default;
	font-size: 9px;
	background-color: white;
	border: #CCCCCC solid 0.5px;
	display: none;
	background-size: 100% 100%;
}

#jiahaoyou img{
	width: 16px;
	height: 14px;
	vertical-align: middle;
}

#jiahaoyou span{
	margin-left: 6px;
}

#jiahaoyou li{
	height: 14px;
	margin-top: 5px;
	padding-top: 5px;
	padding-left: 5px;
}

#jiahaoyou li:hover {
	cursor: default;
	background-color: rgb(238,238,238);
}
